@import "src/App";

.main {
  @include element-size(100%, 100%);
  display: flex;
  align-items: center;

  .promotionItem {
    font-family: Inter, serif;
    display: inline-block;
    width: auto;
    margin-right: 8px;
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 14px;
    line-height: 20px;
  }

  .promotionItem.blue {
    border-color: $blue-color;
    color: $blue-color;
  }

  .promotionItem.green {
    border-color: $green-color;
    color: $green-color;
  }

  .promotionItem.orange {
    border-color: $orange-color;
    color: $orange-color;
  }
}